<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
<add name=
"DefaultConnection"
connectionString=
"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename
=C:\Users\Camilo\source\repos\PeackWare 1.0\Datos\ProyectoP03.mdf;Integrated Security=True" />
</connectionStrings>
</configuration>